@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');
/* 
font-family: 'Passion One', cursive;
font-family: 'Sriracha', cursive;
*/


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/* HEADER */
header {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    padding: 50px;
}
header h1 {
    font-family: 'Passion One', cursive;
    font-size: 3.2em;    
    text-transform: uppercase;
}
header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;

}
header p a {
    color: white;
}
header p a:hover {
    text-decoration: underline;
}
/* SECTION */
section {
    padding: 50px;
    font-family: 'Sriracha', cursive;
    font-weight: 500;
    font-size: 1.4em;
}

section#joaninha{
    background: black url(img/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

section#carta {
    background: black url(img/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

section#joaninha p, section#carta p {
    color: white;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 10px;
    text-shadow: 1px 1px 1px black;
}

section p {
    width: 300px;

}




/* FOOTER */
footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;

}